<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="2">
    <thead>
    <tr>
        <th> Spot</th>
        <th> Avg wind speed km/h</th>
        <th> Avg wind temp C</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${pointsList.empty}">
        <td colspan="2"> No places Available</td>
    </tr>
    <tr th:each="point : ${pointsList}">
        <td><span th:text="${point.cityName}"> city </span></td>
        <td align="center"><span th:text="${point.windSpeed}"> wind speed </span></td>
        <td align="center"><span th:text="${point.windTemp}"> wind temp </span></td>
    </tr>
    </tbody>
</table>
<br>
<br>
<form action="/saveNewPoint" method="post">
    <label for="cityName">Add new city:</label>
    <input type="text" id="cityName" name="cityName"/>
    <button type="submit">Submit</button>
</form>
<br>
<form action="/deletePoint" method="post">
    <label for="cityDoDelete">City to delete:</label>
    <input type="text" id="cityDoDelete" name="cityToDelete"/>
    <button type="submit">Submit</button>
</form>


</body>
</html>